version: 0.32.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - timelister_backfill
    - ansatte
    - avdelinger
    - timelister_date_paginated
    - arbeidstyper
streams:
  - type: DeclarativeStream
    name: timelister_backfill
    primary_key:
      - timeregistreringId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          anleggId:
            type: 'null'
          ansatt:
            type: 'null'
          ansattId:
            type: integer
          arbeidsartId:
            type: string
          artId:
            type: string
          avdeling:
            type: 'null'
          avdelingId:
            type: string
          avsnittId:
            type:
              - 'null'
              - string
          dato:
            type: string
          endretDato:
            type: string
          fAntall:
            type: number
          faktureres:
            type: boolean
          godkjent:
            type: boolean
          jobbId:
            type:
              - 'null'
              - string
          kontoId:
            type: 'null'
          kostpris:
            type: number
          kundeId:
            type: 'null'
          ma_Timer:
            type: number
          notat:
            type:
              - 'null'
              - string
          opprettetDato:
            type: string
          planFra:
            type:
              - 'null'
              - string
          planTil:
            type:
              - 'null'
              - string
          produktId:
            type:
              - 'null'
              - string
          produktiv:
            type: boolean
          prosjekt:
            type: 'null'
          prosjektId:
            type:
              - 'null'
              - string
          salgspris:
            type: number
          t_ArbT:
            type: number
          t_Pause1_Fra:
            type:
              - 'null'
              - string
          t_Pause1_Til:
            type:
              - 'null'
              - string
          t_Pause2_Fra:
            type: 'null'
          t_Pause2_Til:
            type: 'null'
          timeType:
            type: integer
          timeregistreringId:
            type: integer
          tm_Stemple_inn:
            type: string
          tm_Stemple_ut:
            type: string
          tm_Virk_inn:
            type: string
          tm_Virk_ut:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.tidsbanken.net/v2
        path: >-
          /timelister?$orderby=dato&$filter=tm_Stemple_inn gt {{
          config['start_date_backfill'] }} and tm_Stemple_inn lt {{ config['end_date_backfill'] }}
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          header: tb-key
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: $skip
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: $top
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
  - type: DeclarativeStream
    name: ansatte
    primary_key:
      - ansattId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          ansattId:
            type:
            - integer
            - 'null'
          fornavn:
            type:
            - string
            - 'null'
          etternavn:
            type:
            - string
            - 'null'
          adresse:
            type:
            - string
            - 'null'
          postnummer:
            type:
            - string
            - 'null'
          poststed:
            type:
            - string
            - 'null'
          tlfPrivat:
            type:
            - string
            - 'null'
          mobilTlf:
            type:
            - string
            - 'null'
          epostAdresse:
            type:
            - string
            - 'null'
          fodt:
            type:
            - string
            - 'null'
          tittel:
            type:
            - string
            - 'null'
          lonnskonto:
            type:
            - string
            - 'null'
          ansattDato:
            type:
            - string
            - 'null'
          sluttet:
            type:
            - boolean
            - 'null'
          aktiv:
            type:
            - boolean
            - 'null'
          sluttetDato:
            type:
            - string
            - 'null'
          avdelingId:
            type:
            - string
            - 'null'
          avdeling:
            type:
            - string
            - 'null'
          identifikator:
            type:
            - string
            - 'null'
          element1Id:
            type:
            - string
            - 'null'
          element2Id:
            type:
            - string
            - 'null'
          antallFerieDager:
            type:
            - number
            - 'null'
          statsborgerskap:
            type:
            - string
            - 'null'
          opprettetDato:
            type:
            - string
            - 'null'
          kortKode:
            type:
            - string
            - 'null'
          stillingsprosent:
            type:
            - number
            - 'null'
          kjonn:
            type:
            - string
            - 'null'
          kommune:
            type:
            - string
            - 'null'
          spraak:
            type:
            - string
            - 'null'
          sistInnlogget:
            type:
            - string
            - 'null'
          sistEndretDato:
            type:
            - string
            - 'null'
          antallHalveFerieDager:
            type:
            - number
            - 'null'
          skatteProsent:
            type:
            - number
            - 'null'
          malId:
            type:
            - integer
            - 'null'
          fastLonn:
            type:
            - boolean
            - 'null'
          innleid:
            type:
            - boolean
            - 'null'
          utelatFraLonn:
            type:
            - boolean
            - 'null'
          utelatFraRapporter:
            type:
            - boolean
            - 'null'
          utelatFraStatusrapport:
            type:
            - boolean
            - 'null'
          paaroerendeNavn:
            type:
            - string
            - 'null'
          paaroerendeNr:
            type:
            - string
            - 'null'
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.tidsbanken.net/v2
        path: /ansatte
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          header: tb-key
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: avdelinger
    primary_key:
      - avdelingId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          avdelingId:
            type: string
          hovedavdelingId:
            type: string
          avdelingTekst:
            type: string
          beskrivelse:
            type: string
          timepris:
            type: number
          enhet:
            type: string
          organisasjonsnr:
            type: string
          eksternId:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.tidsbanken.net/v2
        path: /avdelinger
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          header: tb-key
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: timelister_date_paginated
    primary_key:
      - timeregistreringId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          anleggId:
            type: 'null'
          ansatt:
            type: 'null'
          ansattId:
            type: integer
          arbeidsartId:
            type: string
          artId:
            type: string
          avdeling:
            type: 'null'
          avdelingId:
            type: string
          avsnittId:
            type:
              - 'null'
              - string
          dato:
            type: string
          endretDato:
            type: string
          fAntall:
            type: number
          faktureres:
            type: boolean
          godkjent:
            type: boolean
          jobbId:
            type:
              - 'null'
              - string
          kontoId:
            type: 'null'
          kostpris:
            type: number
          kundeId:
            type: 'null'
          ma_Timer:
            type: number
          notat:
            type:
              - 'null'
              - string
          opprettetDato:
            type: string
          planFra:
            type:
              - 'null'
              - string
          planTil:
            type:
              - 'null'
              - string
          produktId:
            type:
              - 'null'
              - string
          produktiv:
            type: boolean
          prosjekt:
            type: 'null'
          prosjektId:
            type:
              - 'null'
              - string
          salgspris:
            type: number
          t_ArbT:
            type: number
          t_Pause1_Fra:
            type:
              - 'null'
              - string
          t_Pause1_Til:
            type:
              - 'null'
              - string
          t_Pause2_Fra:
            type: 'null'
          t_Pause2_Til:
            type: 'null'
          timeType:
            type: integer
          timeregistreringId:
            type: integer
          tm_Stemple_inn:
            type: string
          tm_Stemple_ut:
            type: string
          tm_Virk_inn:
            type: string
          tm_Virk_ut:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.tidsbanken.net/v2
        path: >-
          /timelister?$orderby=dato&$filter=endretDato gt {{ config['start_date'] }}Z
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          header: tb-key
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: $skip
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: $top
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: endretDato
      datetime_format: '%Y-%m-%dT%H:%M:%S.%f'
      cursor_granularity: PT1S
      end_datetime: '{{ config[''end_date''] if config[''end_date'']|length else now_utc().strftime("%Y-%m-%dT%H:%M:%S.%f") }}'
      start_datetime: '{{ config[''start_date''] }}'
      step: P1D
  - type: DeclarativeStream
    name: arbeidstyper
    primary_key:
      - ArbeidsartNr
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          AktiverSporsmal:
            type: boolean
          ArbeidsartNavn:
            type: string
          ArbeidsartNr:
            type: string
          ArtTypeNr:
            type: string
          ArtTypeNr2:
            type: string
          ArtTypeNr3:
            type: string
          AskForEndTime:
            type: boolean
          Avd:
            type: string
          AvrundFAntall:
            type: integer
          AvrundFAntallTil:
            type: integer
          BarStyle:
            type: integer
          FastTekst:
            type: 'null'
          Forvalg:
            type: integer
          FraKlokken:
            type: string
          Fri:
            type: boolean
          FromNextday:
            type: boolean
          FyllTommeDager:
            type: boolean
          KortNavn:
            type: string
          Kostkonto:
            type: 'null'
          Notat:
            type: 'null'
          OppdaterBmTidVedEndring:
            type: boolean
          OverMidnatt:
            type: integer
          PrisPrEnhet:
            type: number
          Produktiv:
            type: boolean
          RegLor:
            type: boolean
          RegSon:
            type: boolean
          RestOfDayAndNext:
            type: boolean
          Sats1:
            type: number
          Sats2:
            type: number
          SistEndretAv:
            type: integer
          SistEndretDato:
            type: string
          Sporsmal:
            type: 'null'
          Standard:
            type: boolean
          TaMedIKalkyle:
            type: boolean
          TilKlokken:
            type: string
          TilbakeDato:
            type: boolean
          TilbakeKl:
            type: boolean
          TillattSerie:
            type: boolean
          UtDagen:
            type: boolean
          VisAktivitetsmeny:
            type: boolean
          VisAvsnittKart:
            type: boolean
          VisKundeKart:
            type: boolean
          VisProduktivitet:
            type: boolean
          VisProsjektKart:
            type: boolean
          WebBg:
            type: integer
          WebFg:
            type: integer
          id:
            type: integer
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.tidsbanken.net/v2
        path: http://api.tidsbanken.net/dev/Arbeidstyper/Finn
        http_method: GET
        request_parameters:
          key: '{{ config[''api_key''] }}'
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          header: key
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination